{% extends 'main/base.html' %}

{% block title %}SkyBoard - Home{% endblock %}

{% block content %}
<div class="bg-light p-5 rounded text-center mt-4">
    <h1>Welcome to SkyBoard</h1>
    <h4 class="text-muted">Airlines Management System</h4>
    <hr>
    <p class="lead">
SkyBoard is a website I built for managing airline operations. It lets different staff members do their jobs: flight managers can schedule flights, procurement managers can order parts, passengers can book seats, and ground crew can check their tasks
    </p>

    <br>
    <a href="{% url 'flight_search' %}" class="btn btn-primary btn-lg">Search Flights</a>
    <br><br>
    <a href="{% url 'login' %}" class="btn btn-outline-primary">Login</a>
    <a href="{% url 'register' %}" class="btn btn-outline-secondary">Register</a>
</div>
{% endblock %}

